<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header central">
                <h2>Permissions Error</h2>
            </div>
            <div class="card-body central">
                <p>
                    <b>Step 1:</b> You will need to logout.
                </p>
                <p>
                    <b>Step 2:</b> When signing in again, tick the following permission: 'See, edit, create, and delete all of your Google Drive files.'
                </p>
            </div>
        </div>
    </div>
</div>