<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header central">
                <h2>Instructions</h2>
            </div>
            <div class="card-body central">
                <p>
                    <b>Step 1:</b> Configure your account to either a teacher or moderator. If you are a teacher, you will also need to add at least 1 of your moderators.
                </p>
                <p>
                    <b>Step 2a:</b> As a teacher, you can create a moderation batch <b>(Please note: </b>only pdf files can be uploaded for moderation. You can find a free tool to convert files to pdf <a href="https://www.freepdfconvert.com/" target="_blank">here</a>)
                    and when the batch is moderated, view feedback on it. <br>
                    <b>Step 2b:</b> As a moderator, you can view a moderation batch, add annotations to the files in the batch and then provide feedback to the teacher.
                </p>
            </div>
        </div>
    </div>
</div>



<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/q2l-ZrL8Ceg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="buttons">
    <button class="btn btn-info" (click)="open('https://www.freepdfconvert.com/')">Convert Files to PDF <i class="nc-icon nc-share-66"></i></button>
</div>-->