<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header central">
                <h2>Instructions</h2>
            </div>
            <div class="card-body central">
                <p>
                    <b>Step 1:</b> Configure your account to either a teacher or moderator. If you are a teacher, you will also need to add at least 1 of your moderators.
                </p>
                <p>
                    <b>Step 2a:</b> As a teacher, you can create a moderation batch and when the batch is moderated, view feedback on it. <br>
                    <b>Step 2b:</b> As a moderator, you can view a moderation batch, add annotations to the files in the batch and then provide feedback to the teacher.
                </p>
            </div>
        </div>
    </div>
</div>