.unconfigured {
  h2, h4 {
    text-align: center;
    margin-bottom: 0%;
  }
  table {
    text-align: center;
    width: 100%;
    .item {
      width: 35%;
      input {
        width: 100%;
      }
    }
    .action {
      width: 15%;
    }
  }
  .button-wrapper {
    width: 100%;
    text-align: center;
  }
  .btn-cust {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
  }
}
.moderators {
  display: inline;
  .data {
    width: 40%;
    display: flex;
    float: left;
  }
  .controls {
    display: flex;
    float: right;
    width: 60%;
  }
}