<div class="row" *ngIf="configured">
      <div class="col-md-12">
        <div class="card card-user">
          <div class="card-header form-group">
              <div class="update ml-auto mr-auto">
                <div *ngIf="teacher">
                  TEACHER
                </div>
                <div *ngIf="moderator">
                  MODERATOR
                </div>
              </div>
          </div>
        </div>
      </div>
</div>













<div class="unconfigured row col-md-12 card card-user card-header form-group update ml-auto mr-auto" *ngIf="!configured">
    <h2>Configure account</h2>
    <form *ngIf="configForm" [formGroup]="configForm" (ngSubmit)="createConfig()">
        <div class="input-item">
          <h4>Role</h4>
          <select class="form-control" formControlName="role" required>
            <option *ngFor="let r of roles" [ngValue]="r"> {{ r }}</option>
          </select>
        </div>
        <div class="input-item" *ngIf="teacher">
          <h4>Moderators</h4>
          <table formArrayName="moderators">
            <tr>
              <th class="item">Name</th>
              <th class="item">Email</th>
              <th class="action">Action</th>
            </tr>
            <tr *ngFor="let a of f.controls; let i = index" [formGroupName]="i">
              <td class="item">
                <input class="form-control" type="text" formControlName="name" minlength="2" required/>
                <div *ngIf="getVal(i).name.errors?.required && (getVal(i).name.touched || getVal(i).name.dirty)" class="messages  text-danger">Required!</div>
                <div *ngIf="getVal(i).name.errors?.minlength && (getVal(i).name.touched || getVal(i).name.dirty)" class="messages  text-danger">Minimum length of 2!</div>
              </td>
              <td class="item">
                <input class="form-control" type="email" formControlName="email" required/>
                <div *ngIf="getVal(i).email.errors?.required && (getVal(i).email.touched || getVal(i).email.dirty)" class="messages  text-danger">Required!</div>
                <div *ngIf="getVal(i).email.errors?.email && (getVal(i).email.touched || getVal(i).email.dirty)" class="messages  text-danger">Invalid email!</div>
              </td>
              <td class="action"><button class="btn btn-danger" type="button" (click)="deleteModerator(i)">Delete</button></td>
            </tr>
          </table>
          <div class="button-wrapper">
            <button type="button" class="btn btn-info btn-add" (click)="addModerator()">Add</button>
          </div>
        </div>
    </form>
    <button id="btnAdd" type="button" (click)="createConfig()" class="btn btn-success btn-cust">Configure</button>
</div>
