h5, h3, .form-group {
  text-align: center;
}
#head {
  padding: .4rem;
  display: block;
  #title {
     text-align: center;
  }
  #close {
     padding: 0% 5% 0% 95%;
     margin: 0 auto;
  }
}
#body {
  .input-item {
    display: block;
    h4, h6, .messages {
      text-align: center;
      padding-top: .5rem;
    }
  }
}
#foot {
  display: inline;
  text-align: center;
}
h3 {
  margin-bottom: 2%;
}
.items {
  display: flex;
  padding-top: 1%;
  .item {
    width: 40%;
    input {
      width: 85%;
      margin: 0 auto;
    }
  }
  .action {
    width: 10%;
    margin: 0 auto;
  }
  button, .messages {
    margin-top: 10%;
    margin: 0 auto;
  }
}