.unconfigured {
  h2, h4 {
    text-align: center;
    margin-bottom: 0%;
  }
  table {
    text-align: center;
    width: 100%;
    .item {
      width: 35%;
      input {
        width: 100%;
      }
    }
    .action {
      width: 15%;
    }
  }
  .button-wrapper {
    width: 100%;
    text-align: center;
  }
  .btn-cust {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
  }
}
.folder {
  h3 {
    margin-bottom: 0%;
  }
  border: 1px solid;
  text-align: center;
  background-color: #BFC9CA;
  display: grid;
  margin: 1%;
}