<div class="row" *ngIf="configured">
  <div class="row unconfigured col-md-12 card card-user card-header form-group update ml-auto mr-auto" *ngIf="role">
    <h2>Moderators</h2>
      <div *ngFor="let f of folders" class="moderators">
        {{ f.name }}
      </div>
                  
                  








































                </div>
                <div class="card card-user card-header form-group update ml-auto mr-auto" *ngIf="!role">
                  MODERATOR
                </div>
</div>
<div class="unconfigured row col-md-12 card card-user card-header form-group update ml-auto mr-auto" *ngIf="!configured">
    <h2>Configure account</h2>
    <form *ngIf="configForm" [formGroup]="configForm" (ngSubmit)="createConfig()">
        <div class="input-item">
          <h4>Role</h4>
          <select class="form-control" formControlName="role" required>
            <option *ngFor="let r of roles" [ngValue]="r"> {{ r }}</option>
          </select>
        </div>
        <div class="input-item" *ngIf="role">
          <h4>Moderators</h4>
          <table formArrayName="moderators">
            <tr>
              <th class="item">Name</th>
              <th class="item">Email</th>
              <th class="action">Action</th>
            </tr>
            <tr *ngFor="let a of f.controls; let i = index" [formGroupName]="i">
              <td class="item">
                <input class="form-control" type="text" formControlName="name" minlength="2" required/>
                <div *ngIf="getVal(i).name.errors?.required && (getVal(i).name.touched || getVal(i).name.dirty)" class="messages  text-danger">Required!</div>
                <div *ngIf="getVal(i).name.errors?.minlength && (getVal(i).name.touched || getVal(i).name.dirty)" class="messages  text-danger">Minimum length of 2!</div>
              </td>
              <td class="item">
                <input class="form-control" type="email" formControlName="email" required/>
                <div *ngIf="getVal(i).email.errors?.required && (getVal(i).email.touched || getVal(i).email.dirty)" class="messages  text-danger">Required!</div>
                <div *ngIf="getVal(i).email.errors?.email && (getVal(i).email.touched || getVal(i).email.dirty)" class="messages  text-danger">Invalid email!</div>
              </td>
              <td class="action"><button class="btn btn-danger" type="button" (click)="deleteModerator(i)">Delete</button></td>
            </tr>
          </table>
          <div class="button-wrapper">
            <button type="button" class="btn btn-info btn-add" (click)="addModerator()">Add</button>
          </div>
        </div>
        <div class="input-item" *ngIf="((!role) && (configForm.get('role').value.length > 0))">
        </div>
    </form>
    <button *ngIf="role" id="btnAdd" type="button" (click)="configModerator()" class="btn btn-success btn-cust">Configure Teacher Account</button>
    <button *ngIf="((!role) && (configForm) && (configForm.get('role').value.length > 0))" id="btnAdd" type="button" (click)="configTeacher()" class="btn btn-success btn-cust">Configure Moderator Account</button>
</div>
