<div id="container">
    <div id="logo-holder">
        <img id="logo" src="../../../../assets/img/logo.svg" alt="logo">
    </div>
    <div id="controls">
        <button id="login" class="btn btn-success" (click)="login()">Login <i class="nc-icon nc-lock-circle-open"></i></button>
        <button id="create" class="btn btn-primary" (click)="createAccount()">Create Account <i class="nc-icon nc-simple-add"></i></button>
    </div>
    <div id="controls">
        <p><b>
				  This is a system to moderate marked documents online. It makes use of Google Drive to store the marked documents and as such
					a Google account is required to make use of this system. I suggest creating a new Google account to use this system, so it stays
					seperate from the documents in your personal Google Drive.
			  </b></p>
        <!--<button class="btn btn-danger" (click)="tutorial()">Video Tutorial <i class="nc-icon nc-send"></i></button>-->
    </div>
</div>