<div class="row central">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <form *ngIf="configForm" [formGroup]="configForm">
                    <h5>Role</h5>
                    <select class="form-control" formControlName="role" required>
				    		<option *ngFor="let r of roles" [ngValue]="r"> {{ r }}</option>
					    </select>
                    <div *ngIf="role.value">
                        <div *ngIf="(role.value === 'Teacher') || (role.value === 'Both')">
                            <h5>Moderators</h5>
                            <table class="table" formArrayName="moderators">
                                <thead class="text-primary">
                                    <th><i class="nc-icon nc-circle-10"></i> Name:</th>
                                    <th><i class="nc-icon nc-email-85"></i> Email:</th>
                                    <th><i class="nc-icon nc-calendar-60"></i> Action:</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of moderators.controls; let i = index" [formGroupName]="i">
                                        <td>{{ item.get('name').value }}</td>
                                        <td>{{ item.get('email').value }}</td>
                                        <td><button type="button" (click)="delete(i)" class="btn btn-danger">Delete <i class="nc-icon nc-simple-remove"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" (click)="open(content)" class="btn btn-info">Add  <i class="nc-icon nc-simple-add"></i></button><br>
                            <ng-template #content let-modal>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modal-header">
                                            <div class="far-right">
                                                <button type="button" class="close" aria-label="Close" (click)="close('Cross click')"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="centre">
                                                <h4 class="modal-title" id="modal-basic-title">New Moderator</h4>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="newModeratorForm" class="row">
                                                <div class="form col-md-12">
                                                    <div class="form-group">
                                                        <div class="single">
                                                            <label for="name"><b>Name: </b></label>
                                                            <input type="text" class="form-control" formControlName="name" id="name" minlength="2" required/>
                                                        </div>
                                                        <div *ngIf="n.name.errors?.minlength && (n.name.touched || n.name.dirty)" class="messages text-danger">Invalid Length!</div>
                                                        <div *ngIf="n.name.errors?.required && (n.name.touched || n.name.dirty)" class="messages text-danger">Required!</div>
                                                        <div *ngIf="n.name.errors?.nameAlreadyExists && (n.name.touched || n.name.dirty)" class="messages text-danger">Already Exists!</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="single">
                                                            <label for="email"><b>Email: </b></label>
                                                            <input type="email" class="form-control" formControlName="email" id="email" required/>
                                                        </div>
                                                        <div *ngIf="n.email.errors?.email && (n.email.touched || n.email.dirty)" class="messages text-danger">Invalid Data!</div>
                                                        <div *ngIf="n.email.errors?.required && (n.email.touched || n.email.dirty)" class="messages text-danger">Required!</div>
                                                        <div *ngIf="n.email.errors?.alreadyExists && (n.email.touched || n.email.dirty)" class="messages text-danger">Already Exists!</div>
                                                        <div *ngIf="n.email.errors?.sameEmail && (n.email.touched || n.email.dirty)" class="messages text-danger">Cannot add yourself as a moderator!</div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" (click)="add()">Add <i class="nc-icon nc-simple-add"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div>
                            <button *ngIf="!configured.value" type="button" (click)="createConfiguration()" class="btn btn-success">Create Configuration <i class="nc-icon nc-settings"></i></button>
                        </div>
                        <div>
                            <button *ngIf="configured.value && changed" type="button" (click)="editConfiguration()" class="btn btn-success">Edit Configuration <i class="nc-icon nc-settings"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>