<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header central">
        <h2>Actions</h2>
        <button type="button" (click)="requestFeature(content)" class="btn btn-success btn-round">Request Feature <i class="nc-icon nc-bulb-63"></i></button>
        <button type="button" (click)="generalRemark(content)" class="btn btn-info btn-round">General Remark <i class="nc-icon nc-chat-33"></i></button>
        <button type="button" (click)="reportIssue(content)" class="btn btn-warning btn-round">Report Issue <i class="nc-icon nc-ambulance"></i></button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <div class="far-right">
              <button type="button" class="close" aria-label="Close" (click)="close('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="centre">
              <h4 class="modal-title" id="modal-basic-title">New {{ title }}</h4>
            </div>
          </div>
          <div class="modal-body">
            <form [formGroup]="newGroup" *ngIf="newGroup" class="row">
              <div class="form col-md-12">
                <div class="form-group">
                  <div class="single">
                    <label for="title"><b>Title:</b></label>
                    <input type="text" class="form-control" formControlName="title" id="title" minlength="2" required/>
                  </div>
                  <div *ngIf="n.title.errors?.minlength && (n.title.touched || n.title.dirty)" class="messages text-danger">Invalid Length!</div>
                  <div *ngIf="n.title.errors?.required && (n.title.touched || n.title.dirty)" class="messages text-danger">Required!</div>
                </div>
                <div class="form-group">
                  <div class="single">
                    <label for="description"><b>Description:</b></label>
                    <textarea class="form-control" formControlName="description" id="description" minlength="5" required></textarea>
                  </div>
                  <div *ngIf="n.description.errors?.minlength && (n.description.touched || n.description.dirty)" class="messages text-danger">Invalid Length!</div>
                  <div *ngIf="n.description.errors?.required && (n.description.touched || n.description.dirty)" class="messages text-danger">Required!</div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button *ngIf="newGroup" type="button" class="btn btn-success btn-round" (click)="add()">Add {{ title }}<i class="nc-icon nc-simple-add"></i></button>
          </div>
        </ng-template>
      </div>
      <div class="card-body central">
        <div class="row" *ngIf="items.length > 0">
          <table class="table">
            <thead class="text-primary">
              <th>Title</th>
              <th>Description</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td [ngClass]="{'feature': item.type === 'request', 'remark': item.type === 'remark', 'issue': item.type === 'issue'}">{{ item.title }}</td>
                <td [ngClass]="{'feature': item.type === 'request', 'remark': item.type === 'remark', 'issue': item.type === 'issue'}">{{ item.description }}</td>
                <td [ngClass]="{'feature': item.type === 'request', 'remark': item.type === 'remark', 'issue': item.type === 'issue'}"><button type="button" (click)="delete(item)" class="btn btn-danger btn-round">Delete <i class="nc-icon nc-simple-remove"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="0 >= items.length">
          <div class="central">
            <h4>No data to display!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
