<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header central">
                <h2>Resources</h2>
            </div>
            <div class="card-body central">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/q2l-ZrL8Ceg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="buttons">
                    <button class="btn btn-info btn-round" (click)="open('https://www.freepdfconvert.com/')">Convert Files to PDF <i class="nc-icon nc-share-66"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>