<div class="unconfigured row col-md-12 card card-user card-header form-group update ml-auto mr-auto">
    <h2>Create upload batch</h2>
    <form *ngIf="uploadForm" [formGroup]="uploadForm" class="form">
        <div class="row">
            <div class="col-md-6">
                <h5>Name: </h5>
                <div class="input-item">
                    <input minlength="5" type="text" class="form-control" name="name" id="name" formControlName="name" required />
                    <div *ngIf="h.name.errors?.required" class="messages text-danger">Required!</div>
                    <div *ngIf="h.name.errors?.minlength && (h.name.touched || h.name.dirty)" class="messages text-danger">Minimum Length of 5!</div>
                </div>
            </div>
            <div class="col-md-6 btn-wrapper">
              <button id="btnAdd" type="button" (click)="file.click()" class="btn btn-info btn-cust">Select Files
                <i class="icofont icofont-binary">
                    <input (change)="onFileChanges($event)" id="fileUploader"  style="display: none" type="file" accept=".pdf" #file multiple/>
                </i>
              </button>
            </div>
        </div>


































































        <div *ngIf="files.length > 0" class="row">
          <h6 class="col-md-4 item" *ngFor="let f of files">{{ f.name }}</h6>
        </div>
        <button *ngIf="((files.length > 0) && (!h.name.errors?.required))" type="button" (click)="upload()" class="btn btn-success btn-cust">Upload!</button>
    </form>
</div>
