<div class="row central">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>Create Upload Batch</h2>
      </div>
      <div class="card-body">
        <form *ngIf="uploadForm" [formGroup]="uploadForm">
          <h5>Name</h5>
          <div class="input-item">
            <input minlength="5" type="text" class="form-control" name="name" id="name" formControlName="name" required />
            <div *ngIf="h.name.errors?.required" class="messages text-danger">Required!</div>
            <div *ngIf="h.name.errors?.minlength && (h.name.touched || h.name.dirty)" class="messages text-danger">Minimum Length of 5!</div>
          </div>
          <button id="btnAdd" type="button" (click)="file.click()" class="btn btn-info btn-round">Select Files  <i class="nc-icon nc-tap-01"></i>
            <i class="icofont icofont-binary">
                <input (change)="onFileChanges($event)" id="fileUploader"  style="display: none" type="file" accept=".pdf" #file multiple/>
            </i>
          </button>
          <div class="row" *ngIf="files.length > 0" >
            <table class="table">
              <thead class="text-primary">
                <th><i class="nc-icon nc-circle-10"></i>  Name:</th><th><i class="nc-icon nc-ruler-pencil"></i>  Size:</th><th><i class="nc-icon nc-calendar-60"></i>  Last Modified:</th>
              </thead>
              <tbody>
                <tr *ngFor="let f of files">
                  <td>{{ f.name }}</td><td>{{ getSize(f.size) }}</td><td>{{  f.lastModifiedDate.toString().substr(0, f.lastModifiedDate.toString().indexOf('GMT') - 1) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button *ngIf="((files.length > 0) && (!h.name.errors?.required))" type="button" (click)="upload()" class="btn btn-success btn-round">Upload  <i class="nc-icon nc-cloud-upload-94"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="holder" hidden></div>
<div id="show"></div>
