  form {
    display: contents;
  }
  .btn-cust {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
  }
    h2, h4, h6 {
      text-align: center;
      margin-bottom: 0%;
    }
.col-md-6 {
  text-align: center;
}
.btn-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
}
